// Define primary colors
$primary-color: #797900; // Yellowish-white
$accent-color: #ffffff; // Yellow

// Navbar styles
.navbar {
  background-color: $primary-color;
  color: #000000; // Change text color to a darker shade for better readability
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Lighten the box shadow

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

// Navigation options styles
.nav-options {
  display: flex;
  gap: 20px;
  transition: margin-top 0.3s ease-in-out;

  @media (max-width: 768px) {
    margin-top: 10px;
  }

  a {
    color: #000000; // Change link color to a darker shade for better readability
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;

    &:hover {
      color: $accent-color;
      text-decoration: underline;
    }

    &:active {
      color: $accent-color;
      font-weight: bold;
    }
  }
}

h1:hover{
  color: #ffffff;
  transition: color 0.3s;
}