@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

/* Remove text decoration for all anchor elements */
a {
  text-decoration: none;
}

/* Remove default list styles */
li {
  list-style: none;
}

/* Body styles with dark royal matte finish navy blue background */
body {
  background: url(pexels-engin-akyurt-1435752.jpg) center/cover no-repeat fixed; 
  background-color: rgba(10, 25, 47, 0.8); 
  color: #fff;
}
